<!DOCTYPE html>
<html>

<head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body onkeypress="manipularTeclado()">
    <h1>Calculadora</h1>
    <table class="container">
        <tr>
            <td colspan="6"><input type="text" class="painel" id="display" value="0" disabled></td>
        </tr>
        <tr>
            <td ><input type="button" class="button"value="7" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="button" value="8" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="button" value="9" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="buttonsinal" value="C" onclick="limparDisplay()" /></td>
            <td><input type="button" class="buttonsinal" id="Expo" value="^" operacao="**" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" class="button" value="4" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="button" value="5" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="button" value="6" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="buttonsinal" value = "-" operacao="-" onclick="atualizarOperacao(this)" /></td>

        </tr>
        <tr>
            <td><input type="button" class="button" value="1" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="button" value="2" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="button" value="3" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="buttonsinal" value="+" operacao="+" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" class="buttonsinal" value="*" operacao="*" onclick="atualizarOperacao(this)" /></td>
            <td><input type="button" class="button" value="0" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="buttonsinal" value="=" operacao="=" onclick="calcularOperacao()" /></td>
            <td><input type="button" class="buttonsinal" value="/" operacao="/" onclick="atualizarOperacao(this)" /></td>
        </tr>
        <tr>
            <td><input type="button" class="buttonsinal" id="ponto" value="." onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="buttonsinal" id="paren" value="(" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="buttonsinal" id="paren1" value=")" onclick="atualizarDisplay(this)" /></td>
            <td><input type="button" class="buttonsinal" id="Raiz" value="&radic;" operacao="**0.5" onclick="atualizarOperacao(this)" /></td>   
        </tr>
    </table>
    <script src="js/calc_functions.js"></script>
    <img src="" alt="" />

</body>

</html>
